{
  "$files": {
    "array": "['creeper', 'pig']",
    "fileName": "{{value}}"
  },
  "$copy": "{{getMinecraftInstallDir()}}\\data\\behavior_packs\\vanilla\\entities\\{{value}}.json",
  "$template": {
    "it_works": "yes"
  }
}